* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: signika negative, sans-serif;
}
.headr{
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
}

.property{
  margin-top: 100px;
}

.container{
  position: relative;
}

.button-container {
  position: absolute;
  top: 27%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-align: center;
}